<banner></banner>
<navbar></navbar>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <sidebar></sidebar>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="row">
                <ncy-breadcrumb></ncy-breadcrumb>
            </div>

            <div class="content">
                <h4 class="page-header">Entry Proposal</h4>
                <div class="col-sm-12">
                    <!--<a href="" ng-click="tambah()">Tambah</a>-->
                    <div class="well">
                        <form class="form-horizontal" name="form" ng-submit="submit(form)" novalidate>
                            <!--<div ng-repeat="key in arr">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Program</label>
                                    <div class="col-sm-9">
                                        <ui-select name="program" ng-model="arr[$index].program.selected" required>
                                            <ui-select-match placeholder="Pilih Program...">{{$select.selected.uraian}}</ui-select-match>
                                            <ui-select-choices repeat="program in programs | orderBy:'k4' | filter: $select.search">
                                                <div ng-bind-html="program.uraian | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Kegiatan</label>
                                    <div class="col-sm-9">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">Uraian Kegiatan</th>
                                                    <th class="text-center">Volume</th>
                                                    <th class="text-center">Satuan</th>
                                                    <th class="text-center">Harga Satuan</th>
                                                    <th class="text-center">Jumlah</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="data in arr[$index].program.selected._kegiatan">
                                                    <td ng-model="data.uraian">{{data.uraian}}</td>
                                                    <td class="text-right" style="width: 10%;">
                                                        <input type="text" name="volume" class="form-control input-sm text-right" ng-model="data.volume" ng-init="data.volume=0">
                                                    </td>
                                                    <td class="text-center" ng-model="data.satuan">{{data.satuan}}</td>
                                                    <td class="text-right" ng-model="data.harga">{{data.harga|number:0}}</td>
                                                    <td style="width: 20%;" class="text-right">{{data.volume*data.harga|number:0}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>-->
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Program</label>
                                <div class="col-sm-9">
                                    <ui-select name="program" ng-model="program.selected" required>
                                        <ui-select-match placeholder="Pilih Program...">{{$select.selected.uraian}}</ui-select-match>
                                        <ui-select-choices repeat="program in programs | orderBy:'k4' | filter: $select.search">
                                            <div ng-bind-html="program.uraian | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Kegiatan</label>
                                <div class="col-sm-9">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Uraian Kegiatan</th>
                                                <th class="text-center">Volume</th>
                                                <th class="text-center">Satuan</th>
                                                <th class="text-center">Harga Satuan</th>
                                                <th class="text-center">Jumlah</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="data in program.selected._kegiatan">
                                                <td ng-model="data.uraian">{{data.uraian}}</td>
                                                <td class="text-right" style="width: 10%;">
                                                    <input type="text" name="volume" class="form-control input-sm text-right" ng-model="data.volume" ng-init="data.volume=0">
                                                </td>
                                                <td class="text-center" ng-model="data.satuan">{{data.satuan}}</td>
                                                <td class="text-right" ng-model="data.harga">{{data.harga|number:0}}</td>
                                                <td style="width: 20%;" class="text-right">{{data.volume*data.harga|number:0}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <button type="submit" class="btn btn-primary btn-sm">Simpan</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>