<div class="aside" tabindex="-1" role="dialog" ng-controller="AdminProposalDeleteCtrl">
    <div class="aside-dialog">
        <div class="aside-content">
            <div class="aside-header">
                <h4 class="aside-title">Hapus?</h4>
            </div>
            <div class="aside-body">
                <div class="alert alert-danger">
                    <div>PERHATIAN!!! DATA PENTING!!!</div>
                    <div>Anda akan menghapus seluruh data yang berkaitan</div>
                    <div>Apakah anda yakin akan menghapus data ini?</div>
                </div>
            </div>
            <div class="aside-footer">
                <ul class="list-inline">
                    <li>
                        <button type="button" class="btn btn-primary btn-sm" ng-click="$hide()">Tidak</button>
                    </li>
                    <li><a href="" class="text-danger" ng-click="delete(program._id)">Ya</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>